/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/

#gameSearchContainer, #purchaseSearchContainer {
  font-size: 2rem !important;
}

#entrySelectionContainer,#entryDetails {
  width: 100% !important;
  font-size: 2rem !important;
  background-color: darkseagreen;
}

div[id*='newBilling_'] {
  font-size: 2rem !important;
  background-color: yellow;
  margin-bottom: 5px;
  background-color: antiquewhite;
}

#entryNames {
    width: 100%;
}

.fieldLabels {
  font-size: 2rem;
  width: 35%;
  float: left;
  text-align: right;
  margin-right: 5px;
}

.fieldInputs {
  width: 60%;
  float: right;
}

select {
  font-size: 2rem !important;
  display: inline-block;
}

#entryDetails {
  width: 100%;
}

#initials,#age {
    width: 30%;
}

input[type="checkbox"],radio {
  width: 2.3rem !important;
  height: 2.3rem !important;
}

#btnSubmitUpdates {
  font-size: 30px;
  width: 60% !important;
  float: right !important;
  background-color: red !important;
  border-color: #024488 !important;
  color: #fff !important;
}