/*
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
ul {
  list-style-type: none;
}

#gameSearchContainer, #purchaseSearchContainer {
  font-size: 2rem !important;
}

#entrySelectionContainer,#entryDetails {
  width: 100% !important;
  font-size: 2rem !important;
  background-color: darkseagreen;
}

#newBilling,#newBillingDynamic,#newBillingStaticInput {
  font-size: 2rem !important;
  background-color: antiquewhite;
}

div[id*='billing_'] {
  font-size: 2rem !important;
  background-color: gainsboro;
  margin-bottom: 5px;
}

#entryNames {
    width: 100%;
}

.fieldLabels {
  font-size: 2rem;
  width: 35%;
  float: left;
  text-align: right;
  margin-right: 5px;
}

.fieldInputs {
  width: 60%;
  float: right;
}

select {
  font-size: 2rem !important;
  display: inline-block;
}

#entryDetails {
  width: 100%;
}

#initials,#age {
    width: 30%;
}

input[type="checkbox"],radio {
  width: 2.3rem !important;
  height: 2.3rem !important;
}

#billings,#updateEntries {
  margin-top: 20px;
  margin-bottom: 20px;
}

#btnSave {
  font-size: 20px;
  background-color: blue !important;
  border-color: #024488 !important;
  float: right;
}

#btnComplete {
  font-size: 20px;
  background-color: red !important;
  border-color: #024488 !important;
  float: left;
}

#btnSave:active {
  background-color: black !important;
}

#btnViewLedger {
  font-size: 20px;
  width: 100%;
  background-color: green !important;
}