#btnBack {
  font-size: 20px;
  width: 100%;
  background-color: #4CAF50;
}

#btnBack:hover {
  background-color: green;
}

#ledgerTable {
  width: 100%;
}

#ledgerTable th {
  text-align: left;
  background-color: #008B8B;
  color: white;
}

#btnSaveBilling {
  display: none;
}

.glyphicon {
  font-size: 15px;
}

.fieldLabels {
  font-size: 2rem;
  text-align: right;
  margin-right: 5px;
}

.fieldInputs {
  font-size: 2rem;
  margin-right: 10px;
}

.dateInput {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dataTables_filter, .dataTables_paginate {
  float: right;
}

.dataTables_info, .dataTables_length {
  display: inline-block;
}