#btnBack {
  font-size: 20px;
  width: 100%;
  background-color: #4CAF50;
}

#btnBack:hover {
  background-color: green;
}

#ledgerTable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#ledgerTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#ledgerTable tr:nth-child(even){
  background-color: #f2f2f2;
}

#ledgerTable tr:hover {
  background-color: #ddd;
}

#ledgerTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #008B8B;
  color: white;
}

#btnSaveBilling {
  display: none;
}

.glyphicon {
  font-size: 15px;
}

.fieldLabels {
  font-size: 2rem;
  text-align: right;
  margin-right: 5px;
}

.fieldInputs {
  font-size: 2rem;
  margin-right: 10px;
}

.dateInput {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

