#btnBack {
  font-size: 20px;
  width: 100%;
  background-color: #4CAF50;
}

#btnBack:hover {
  background-color: green;
}

#ledgerTable {
  width: 100%;
}

#ledgerTable th {
  text-align: left;
  background-color: #008B8B;
  color: white;
}

#btnSaveBilling {
  display: none;
}

.glyphicon {
  font-size: 15px;
}

.fieldLabels {
  font-size: 2rem;
  text-align: right;
  margin-right: 5px;
}

.fieldInputs {
  font-size: 2rem;
  margin-right: 10px;
}

.dateInput {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dataTables_filter, .dataTables_paginate {
  float: right;
}

.dataTables_info, .dataTables_length {
  display: inline-block;
}




{
  box-sizing: border-box;
}
.openBtn {
  display: flex;
  justify-content: left;
}
.openButton {
  border: none;
  border-radius: 5px;
  background-color: #1c87c9;
  color: white;
  padding: 14px 20px;
  cursor: pointer;
  position: fixed;
}
.billingUpdatePopup {
  position: relative;
  text-align: center;
  width: 100%;
}
.formPopup {
  display: none;
  position: fixed;
  left: 45%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #999999;
  z-index: 9;
}
.formContainer {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
}
.formContainer select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  background: #eee;
}
.formContainer select:focus {
  background-color: #ddd;
  outline: none;
}
.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: #8ebf42;
  color: #fff;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.8;
}
.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
}